/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 100px; */
  padding: 100px 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings:
    "wght" var(--wght-text),
    "slnt" 0;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--bg-gradient);
  color: var(--accent-color);
}

.header {
  background-color: var(--bg-color);
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  /* margin-top: 100px; */
  padding: var(--header-padding) 0;
  text-align: center;
}

.content-width {
  inline-size: var(--content-width);
}

.header__logo {
  font-size: var(--logo-font-size);
}

.title {
  padding-top: 20px;
  font-size: var(--title-font-size);
}

.content {
  padding-top: 100px;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards__list-item {
  border: 2px solid var(--accent-color);
  background-color: var(--card-bg-color);
  font-size: var(--card-font-size);
}

.card__title {
  font-size: var(--card-font-size);
  font-variation-settings:
    "wght" var(--wght-title),
    "slnt" 0;
  padding: 4px 10px;
}

.image__wrapper {
  position: relative;
  max-height: calc(var(--image-size) + 4px);
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.card__image {
  width: 100%;
  height: var(--image-size);
}

.card__watermark {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--accent-color);
  opacity: 0.5;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--shadow-color),
    0 1px var(--shadow-color),
    1px 0 var(--shadow-color),
    0 -1px var(--shadow-color);
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))
) {

  .card__watermark {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.filter__blur {
  filter: blur(1px);
}

.filter__brightness {
  filter: brightness(87%);
}

.filter__hue {
  filter: hue-rotate(85deg);
}

.filter__invert {
  filter: invert(10%);
}

.filter__sepia {
  filter: sepia(100%);
}

.filter__saturate {
  filter: saturate(200%);
}

.filter__multiple {
  filter: blur(1px) contrast(1) brightness(176%);
}

.card__text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  line-height: 1.16;
}

.card__buttons {
  display: flex;
  justify-content: end;
  padding-bottom: 25px;
  padding-right: 25px;
  gap: 2px;
}

button {
  background-color: transparent;
}

.main__buttons {
  position: relative;
  font-size: var(--card-button-font-size);
  font-family: var(--accent-font);
  font-weight: 400;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.main__buttons:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.main__buttons::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.main__buttons:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.card__icon-button {
  display: flex;
  padding: 0 4px;
  border: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  cursor: pointer;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.contour {
  fill: var(--animation-contour-color);
  transition: fill 0.1s linear;
}

.main-body {
  fill: var(--animation-main-body-color);
  transition: fill 0.3s 0.03s linear;
}

.core {
  fill: var(--animation-core-color);
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--animation-contour-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .main-body {
  fill: var(--animation-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.button__text {
  color: var(--button-text-color);
  position: relative;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: clamp(306px, 295.79px + 2.72vw, 335px);
  height: clamp(55px, 94.21px - 2.72vw, 84px);
  background-color: var(--card-bg-color);
  gap: 8px;
  margin-top: 50px;
}

dialog {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid var(--accent-color);
  inline-size: 350px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 191px;
  padding: 30px;
  text-transform: uppercase;
  column-gap: 20px;
  overflow: hidden;
}

.ok-button {
  inline-size: 293px;
  block-size: 38px;
  grid-column: 2 / -3;
}

dialog[open]::backdrop {
  background-color: var(--veil-color);
}

dialog[open] {
  display: grid;
}

.floppy-icon {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {

  .save-button {
    flex-direction: column;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}
